
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}">
    <title>IDPU.MD</title>
</head>
<body>
<div class="background" >
    <div class="sidenav" >
        <a th:href="@{/}" style="padding: 0; width: 0;"> <img class = 'logo' th:src="@{/images/logo1.png}" ></a>
        <a th:href="@{/universitati}">Universități</a>
        <a th:href="@{/avantaje}">Diagrame </a>
        <a th:href="@{/useful}">Link-uri utile</a>
        <a th:href="@{/info}" >Date de contact</a> <br>

      </div>
      
      <!-- continutul paginii -->
      <div class="main">
          <h1 class="titlu">Indicatorii de performanță a Universităților din Republica Moldova </h1>
            <h3>
                Indicatorii de performanță a Universităților pot oferi detalii despre mai multe instituții de învățămînt, cu ajutorul cărora viitorii studenți, masteranzi pot să analizeze rezulatele mai multor universități și să le compare între ele.
                 <br>
                Indicatorii de performanță sunt incluși într-un registru virtual care va fi disponibil permanent și va fi permanent în modificare ceea ce îi garantează actualitatea. 
                <p>
                   <br><br> Site-ul este alcătuit dintr-o serie de pagini, <br>acestea la rândul său conțin o categorie informativă anumită:
                </p>
            </h3>
                <h3>
                    - (I|D|P|U) - 
                </h3>
                    <h4>
                        Este pagina principală a site-ului care conține date generale despre proiect.
                    </h4>
                <h3>
                    - Universități - 
                </h3>
                        <h4>
                            Cea mai importantă pagină. În cadrul acesteia sunt exemplificați indicatorii și se conține toată informația necesară despre universități și elementele acestora.
                        </h4>
                <h3>
                    - Diagrame - 
                </h3>
                        <h4>
                            Toate datele cu caracter informativ sunt prezentate grafic sub formă de diagrame, pentru o percepție mai eficientă a informației propuse. 
                        </h4>
               <h3>
                    - Link-uri utile - 
                </h3>
                        <h4>
                            Link-uri utile.
                        </h4>
                 <h3>
                    - Date de contact- 
                </h3>
                        <h4>
                            Date despre creatorul paginii și administrației acesteia.
                        </h4>
            

      </div>
</div>
    
</body>

</html>